---
const { casa } = Astro.props;
---

<div class="border rounded p-4 shadow hover:shadow-md transition bg-green-100">
  <h2 class="text-xl font-bold mt-2">{casa.titulo}</h2>
  <p class="text-gray-600">{casa.descripcion}</p>
  <p class="text-green-700 font-semibold mt-2">{casa.precio}</p>
  <p class="text-sm text-gray-500">{casa.ubicacion}</p>
</div>