<header class="h-30 lg:h-20 bg-white flex justify-between items-center shadow-md fixed top-0 left-0 w-full z-50">
  <a href="/" class="w-40 lg:w-30">
    <img src="../OasisLogoCamel.png" alt="Logo Oasis"/>
  </a>
  <ul class="flex h-30 lg:h-20">
    <li
      class="headerItem hover:text-primary-400"
    >
      QUIERO VENDER
    </li>
    <li
      class="headerItem hover:text-primary-400"
    >
      CONTACTA CON NOSOTROS
    </li>
  </ul>
</header>
