<header class="h-30 lg:h-20 bg-primary-600 flex justify-between shadow-md fixed top-0 left-0 w-full z-50">
  <a href="/" class="text-4xl">LOGO</a>
  <ul class="flex h-20">
    <li
      class="h-30 lg:h-20 bg-primary-500 text-white text-2xl lg:text-base font-bold flex justify-center items-center text-center px-10"
    >
      QUIERO VENDER
    </li>
    <li
      class="h-30 lg:h-20 bg-primary-400 text-white text-2xl lg:text-base font-bold flex justify-center items-center text-center px-5"
    >
      CONTACTA CON NOSOTROS
    </li>
  </ul>
</header>
