<footer class="fixed bottom-0 left-0 w-full h-50 bg-white flex items-center justify-center z-50 lg:hidden shadow-2xl">
  <a
    href="tel:+34673449870"
    class="text-white bg-primary-300 px-12 py-6 text-7xl font-semibold animate-bounce"
  >
    Llamar ahora
  </a>
</footer>
