<footer class="fixed bottom-0 left-0 w-full h-40 bg-primary-600 flex items-center justify-center shadow-md z-50 lg:hidden">
  <a
    href="tel:+34673449870"
    class="text-white bg-accent-300 px-12 py-6 text-7xl font-semibold"
  >
    Llamar ahora
  </a>
</footer>
