@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


@layer base {
  :root {
    --color-primary-100: #433318;
    --color-primary-200: #6b542d;
    --color-primary-300: #907546;
    --color-primary-400: #b69865;
    --color-primary-500: #ddc192;
    --color-primary-600: #ffebc8;
    --color-primary-700: #fff2db;

    --color-accent-100: #202c08;
    --color-accent-200: #384d0f;
    --color-accent-300: #567519;
    --color-accent-400: #6b931b;
    --color-accent-500: #abd15d;
    --color-accent-600: #c0ec67;
    --color-accent-700: #dfff9e;
  }
}

@layer utilities {
  .bg-primary-100 {
    background-color: var(--color-primary-100);
  }
  .bg-primary-200 {
    background-color: var(--color-primary-200);
  }
  .bg-primary-300 {
    background-color: var(--color-primary-300);
  }
  .bg-primary-400 {
    background-color: var(--color-primary-400);
  }
  .bg-primary-500 {
    background-color: var(--color-primary-500);
  }
  .bg-primary-600 {
    background-color: var(--color-primary-600);
  }
  .bg-primary-700 {
    background-color: var(--color-primary-700);
  }

  .bg-accent-100 {
    background-color: var(--color-accent-100);
  }
  .bg-accent-200 {
    background-color: var(--color-accent-200);
  }
  .bg-accent-300 {
    background-color: var(--color-accent-300);
  }
  .bg-accent-400 {
    background-color: var(--color-accent-400);
  }
  .bg-accent-500 {
    background-color: var(--color-accent-500);
  }
  .bg-accent-600 {
    background-color: var(--color-accent-600);
  }
  .bg-accent-700 {
    background-color: var(--color-accent-700);
  }

  .text-primary-100 {
    color: var(--color-primary-100);
  }
  .text-primary-200 {
    color: var(--color-primary-200);
  }
  .text-primary-300 {
    color: var(--color-primary-300);
  }
  .text-primary-400 {
    color: var(--color-primary-400);
  }
  .text-primary-500 {
    color: var(--color-primary-500);
  }
  .text-primary-600 {
    color: var(--color-primary-600);
  }
  .text-primary-700 {
    color: var(--color-primary-700);
  }

  .text-accent-100 {
    color: var(--color-accent-100);
  }
  .text-accent-200 {
    color: var(--color-accent-200);
  }
  .text-accent-300 {
    color: var(--color-accent-300);
  }
  .text-accent-400 {
    color: var(--color-accent-400);
  }
  .text-accent-500 {
    color: var(--color-accent-500);
  }
  .text-accent-600 {
    color: var(--color-accent-600);
  }
  .text-accent-700 {
    color: var(--color-accent-700);
  }

  .border-primary-400 {
    border-color: var(--color-primary-400);
  }


  .houseProp {
    @apply flex flex-row items-center;
  }
  .housePropText {
    @apply pl-8 lg:pl-4 text-4xl lg:text-base;
  }
  .textInput{
    @apply p-4 lg:p-2 w-[80vw] lg:w-[50vw] text-4xl lg:text-base;
  }
  .textInputColumn{
    @apply p-4 lg:p-2 w-[37vw] lg:w-[24vw] text-4xl lg:text-base;
  }
  .checkbox{
    @apply flex items-center gap-2 text-4xl lg:text-base;
  }
  .headerItem{
    @apply h-30 lg:h-20 text-2xl lg:text-base font-bold flex justify-center items-center text-center px-10 cursor-pointer;
    color: var(--color-primary-500);
  }
  .paddings{
    @apply px-2 lg:px-4 py-1 lg:py-2;
  }

}

@layer utilities {
  .hover\:text-primary-400:hover {
    color: var(--color-primary-400);
  }

  .hover\:bg-primary-600:hover {
    background-color: var(--color-primary-600);
  }

  .hover\:bg-accent-600:hover {
    background-color: var(--color-accent-600);
  }

  .inter-font {
    font-family: 'Inter', sans-serif;
  }
}
