---
import "../styles/tailwind.css";
import Header from "../components/Header.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Oasis Vive</title>
  </head>
  <body class="inter-font">
    <Header />
    <main
      id="content"
      class="w-full h-screen flex flex-col justify-center items-center mt-30 lg:mt-20"
    >
    <a href="/edit" class="bg-primary-500 text-white text-8xl lg:text-6xl px-8 py-4 mb-4 rounded-md cursor-pointer opacity-90 hover:bg-primary-400 transition duration-300 ease-in-out">Gestionar Casas</a>
    <a href="/create" class="bg-primary-500 text-white text-8xl lg:text-6xl px-8 py-4 mb-4 rounded-md cursor-pointer opacity-90 hover:bg-primary-400 transition duration-300 ease-in-out">Crear Casa</a>
    </main>
  </body>
</html>
