---
// src/pages/index.astro
import Form from '../components/Form.js';
import "../styles/tailwind.css";
---
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Crear casa</title>
  </head>
  <body class="font-sans bg-primary-600 flex flex-col justify-center items-center">
    <h1 class="text-white">Crear nueva casa</h1>
    <Form client:only="react"/>
  </body>
</html>