---
// src/pages/index.astro
import Form from '../components/Form.jsx';
import "../styles/tailwind.css";
---
<html>
  <body class="font-sans bg-primary-600 flex flex-col justify-center items-center">
    <h1 class="text-white">Crear nueva casa</h1>
    <Form client:only="react"/>
  </body>
</html>