---
// src/pages/index.astro
import Form from '../components/Form.js';
import "../styles/tailwind.css";
---
<html>
  <head lang="es">
    <meta charset="UTF-8" />
    <title>Oasis | Crear casa</title>
  </head>
  <body class="inter-font bg-primary-500 flex flex-col justify-center items-center">
    <h1 class="text-white text-6xl lg:text-4xl mt-4">CREAR NUEVA CASA</h1>
    <Form client:only="react"/>
  </body>
</html>