---
import "../styles/tailwind.css";
import type { House } from "../model/house";
import Header from "../components/Header.astro";
import EditingHouseCard from "../components/EditingHouseCard.astro";
const PORT = process.env.PORT || 3001;

const response = await fetch(`http://localhost:${PORT}/houses`);
const houses = await response.json();
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Oasis Vive</title>
    <style>
      #content.is-rentable {
        background-color: #7fa92a; /* no funciona aquí, así que sustituye directamente */
        background-color: #7fa92a !important; /* ejemplo de accent-400 */
      }
    </style>
  </head>
  <body class="font-sans bg-primary-600">
    <Header />
    <main
      id="content"
      class="flex-col mt-30 lg:mt-20 transition-all duration-500 ease-in-out bg-accent-500"
    >
      <div id="non-rentable" class="justify-items-center bg-accent-400 py-5">
        {
          houses
            .map((house: House) => <EditingHouseCard key={house.id} house={house} />)
        }
      </div>
    </main>
  </body>
</html>
