---
import HouseCard from '../components/HouseCard.astro';
import "../styles/tailwind.css";
import type { House } from '../model/house';
import Header from '../components/Header.astro';
const PORT = process.env.PORT || 3001;

const response = await fetch(`http://localhost:${PORT}/houses`);
const houses = await response.json();
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Oasis Vive</title>
  </head>
  <body class="font-sans bg-primary-600">
    <Header/>

    <div class="flex-col bg-accent-500">
      <nav class="flex h-20">
        <button class="bg-accent-400 text-white font-bold flex justify-center items-center text-center px-10">COMPRAR</button>
        <button class="bg-accent-500 text-white font-bold flex justify-center items-center text-center px-10">ALQUILAR</button>
      </nav>
      <div class="flex ">
        {houses.map((house: House) => (
          <HouseCard house={house} />
        ))}
        </div>
    </div>
    
  </body>
</html>