---
import HouseCard from '../components/HouseCard.astro';
import "../styles/tailwind.css";
import type { House } from '../model/house';
const PORT = process.env.PORT || 3001;

const response = await fetch(`http://localhost:${PORT}/houses`);
const houses = await response.json();
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Oasis Vive</title>
  </head>
  <body class="font-sans bg-primary-600">
    <header class="h-20 bg-primary-600 flex justify-between">
      <h1>LOGO</h1>
      <nav class="h-20 flex">
        <ul class="flex row h-20">
          <li class="bg-primary-500 text-white font-bold flex justify-center items-center text-center px-5">CONTACTA CON NOSOTROS</li>
          <li class="bg-primary-400 text-white font-bold flex justify-center items-center text-center px-5">QUIERO VENDER</li>
        </ul>
      </nav>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-4">
      {houses.map((house: House) => (
        <HouseCard house={house} />
      ))}
    </div>
    
  </body>
</html>