---
import EditForm from "../../components/EditForm";
import "../../styles/tailwind.css";

export const prerender = false;

const houseId = parseInt(Astro.params.id!);
const res = await fetch(`http://localhost:3001/houses/${houseId}`);
const house = await res.json();
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{house.title} | OasisLive</title>
    <meta name="description" content={house.description} />
  </head>
  <body class="font-sans bg-primary-500 flex flex-col justify-center items-center">
    <p class="text-white text-8xl lg:text-4xl mt-4">Editar casa</p>
    <EditForm client:only="react" houseId={houseId} />
  </body>
</html>